[Exec]
Hostname={{ item }}
LimitNOFILE=infinity
LimitRTPRIO=infinity
Capability=CAP_IPC_LOCK
SystemCallFilter=add_key keyctl
PrivateUsers=no

[Network]
Bridge=virbr0

[Files]
BindReadOnly=/var/lib/machines/config/{{ item }}_interfaces:/etc/netplan/01-host0.yaml
BindReadOnly=/var/lib/machines/config/{{ item }}_hostname:/etc/hostname
BindReadOnly=/var/lib/machines/config/{{ item }}_hosts:/etc/hosts
BindReadOnly=/etc/resolv.conf
Bind=/sys/fs/cgroup
