network:
 version: 2
 renderer: networkd
 ethernets:
   host0:
     dhcp4: no
     dhcp6: no
     addresses: [{{ lookup('dig', '{{ item }}.{{ ansible_domain }}') }}/{{ guest_network | ipaddr('prefix') }}]
     gateway4: {{ guest_network | ipaddr('next_usable') }}
