[Match]
Virtualization=container
Name=host0

[Network]
Address=192.168.0.1{{ item | regex_replace('\D') | regex_replace('^0') }}
Gateway=192.168.0.1
LinkLocalAddressing=yes
LLDP=yes
EmitLLDP=customer-bridge
