[Exec]
Capability=CAP_NET_ADMIN
SystemCallFilter=add_key keyctl

[Network]
Zone=intern

[Files]
PrivateUsersChown=false
Bind=/var/run/redis-{{ item | regex_replace('-.+') }}/:/var/run/redis/
Bind=/var/run/postgresql/
BindReadOnly=/etc/resolv.conf
BindReadOnly=/var/lib/machines/{{ item }}.hostname:/etc/hostname
BindReadOnly=/var/lib/machines/{{ item }}.hosts:/etc/hosts
Bind=/sys/fs/cgroup
