URL_HOST=
# Erstellt mit 'openssl rand -hex 64'
SECRET_KEY_BASE={{ scalelite_secret_key_base }}
# Erstellt mit 'openssl rand -hex 32'
LOADBALANCER_SECRET={{ scalelite_loadbalancer_secret }}
# Sollte lt. https://github.com/blindsidenetworks/scalelite/blob/master/README.md#Configuration
# in dieser Form sein postgresql://username:password@connection_url
# Laut https://guides.rubyonrails.org/configuring.html#configuring-a-database
# wäre das zu nehmen postgresql://localhost/blog_development?pool=5
DATABASE_URL=postgresql://scalelite:{{ scalelite_pg_password }}@%2Fvar%2Frun%2Fpostgresql/{{ item | regex_replace('-.+') }}
# Sollte lt. https://rubydoc.info/github/redis/redis-rb/master/Redis#initialize-instance_method
# in dieser Form sein: redis://:[password]@[hostname] sein.
REDIS_URL=unix://var/run/redis/redis-server.sock
SCALELITE_RECORDING_DIR=/mnt/scalelite-recordings/var/bigbluebutton
NGINX_SSL=false
BEHIND_PROXY=true
# ACHTUNG: Maximal so viel wie CPUs
WEB_CONCURRENCY=8
#SCALELITE_API=172.18.0.2
SCALELITE_API=scalelite-api
#SCALELITE_TAG=v1.0.8
#SCALELITE_TAG=v1
SCALELITE_TAG=v1.3
POLLING_INTERVAL=60
# getMeeting-API-Aufruf deaktivieren
GET_MEETINGS_API_DISABLED=true



