#!/usr/bin/bash
#
# Information about all BBBs gathered from scalelite DBs.
#
set -eu

OPT="${1:-''}"
declare -A SCALES

for SCALE in {{ redis | join(' ') }} ; do
    SCALES["$SCALE"]=$(systemd-run -q -M ${SCALE}-0 --pipe -- \
                                   /usr/bin/docker exec --tty scalelite-api bin/rake status |\
                           grep -v '[[:upper:]]' |\
                           sed -e "s/^[[:space:]]\+//g" -e "s/[[:space:]]\+/ /g" -e "s/[[:space:]]\+$//g" |\
                           awk '{if(NF == 1) PART = PART $0; \
                                    else {if(length(PART) > 0){print PART REST;  REST = "";} \
                                    PART = $1; for(i=2;i<=NF;++i) REST = REST " " $i;}} END {print PART REST;}' &)
done
wait

if [[ "$OPT" = "--totals" ]] ; then
    (for SCALE in {{ redis | join(' ') }} ; do
         echo "${SCALES["$SCALE"]}"
     done) | awk '{Mtngs += $4; Atnds += $5; Vids += $7;} \
     END {print "0 BBBBSCL_hyperscale01 numMeetings=" Mtngs "|numAttendees=" Atnds "|numWithVideo=" Vids \
     " [hyperscale01 totals M:" Mtngs " Att:" Atnds " Vid:" Vids "]"}'
else
    for SCALE in {{ redis | join(' ') }} ; do
        echo "${SCALES["$SCALE"]}"
    done
fi
