#!/usr/bin/bash
#
# Return a list of BBBs from all scalelite DBs
#
set -eu

for SCALE in {{ redis | join(' ') }} ; do
    systemd-run -q -M ${SCALE}-0 --pipe -- /usr/bin/docker exec scalelite-api bin/rake servers |\
        grep -v "load\|secret\|No servers are configured" |\
        sed -e 's/id: //g' -e 's#url: https://##g' \
            -e 's#.lehrerfortbildung-bw.de/bigbluebutton/api##g' |\
        tr -d '\n' | sed 's/line/line\n/g'  | sed -e "s/$/ $SCALE/"  |\
        awk '{print $2,$5,$3,$4,$1}' | sort &
done
wait
